# Install required packages if not already installed
transformers
datasets
scikit-learn
huggingface_hub
accelerate
matplotlib
nltk
sentencepiece
sacremoses
protobuf
hf_xet

# For RTX 5000 series GPUs support, pytorch was compiled from source.
# https://stackoverflow.com/questions/73317676/importerror-usr-lib-aarch64-linux-gnu-libstdc-so-6-version-glibcxx-3-4-30
conda install -c conda-forge gcc